{
    "auth" : {
        "username":"",
        "apikey":""
    },
    "project":{
        "id":"",
        "name":"",
        "description":"",
        "branch": "",
		"revision": -1
    },
    "app":{
		"language_code": "en_US",
        "modules": [
			"MyFirstModule"
		],
		"saveProjectDataAsJson" : true,
		"rootOutputFolder" : "./docs"
    }
}